@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background: #28282B;
}

h1, h2, h3, h4, p, a{
    text-decoration: none;
    color: white;
    font-family: Poppins;
    background: transparent;
}

.Center{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: transparent;
    background-image: url(BGimage.jpg)
}

.MainContainer{
    background: transparent;
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.MainContainer h1{
    font-size: 50px;
    background: transparent;
}
.MainContainer p{
    font-size: 25px;
    background: transparent
}

.MainContainer a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 0px;
    padding: 12px 34px;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    border: 1px solid white;
    transition: 0.5s;
}

.MainContainer a:hover{
    border: 1px solid rgb(255, 118, 128);
    background: rgb(255, 118, 128);
    transition: 0.3s;
}

nav{
    background: transparent;
    display: flex;
    padding: 1% 5%;
    justify-content: space-between;
    align-items: center;
}

.head{
    text-align: left;
    font-size: 25px;
    color: #fff;
    transition: 0.2s;
}

.links{
    background: transparent;
    flex: 1;
    text-align: center;
}

.links ul{
    background: transparent;
}

.links ul li{
    background: transparent;
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.links ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: rgb(255, 118, 128);
    display: block;
    margin: auto;
    transition: 0.2s;
}

.links ul li:hover::after{
    width: 100%;
}

.head:hover{
    color: rgb(255, 118, 128);
    transition: 0.3s;
}

.About{
    max-width: 100%;
    height: 50vh;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.ABTHolder{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.Frame{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 35px 35px;
    box-sizing: border-box;
    transition: 0.4s;
}

.Frame:hover{
    box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.2);
}


.Frame h1{
  font-size: 35px;
  text-align: center;
}

.Frame p{
  font-size: 15px;
  text-align: center;
  color: #6e6e6e
}
