@import url('https://fonts.googleapis.com/css?family=Poppins');

h1, h2, h3, h4, p, a{
    text-decoration: none;
    font-family: Poppins;
}

.Center{
    width: 100vh;
    height: 100vh;
    transform: translate(-50%, -50%);
    color: transparent
}

.Image{
    width: 100vh;
    height: 100vh;
    background-image: url(BGImage.gif);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
