@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, p, a{
    text-decoration: none;
    color: white;
    font-family: Poppins;
}

.Center{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: transparent;
    background-image: url(BGimage.jpg)
}

.MainContainer{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.MainContainer h1{
    font-size: 50px;
}
.MainContainer p{
    font-size: 25px;
}

.MainContainer a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 0px;
    padding: 12px 34px;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    border: 1px solid white;
    transition: 0.2s;
}

.MainContainer a:hover{
    border: 1px solid rgb(255, 118, 128);
    background: rgb(255, 118, 128);
    transition: 0.3s;
}

nav{
    display: flex;
    padding: 1% 5%;
    justify-content: space-between;
    align-items: center;
}

.head{
    text-align: left;
    font-size: 25px;
}

.links{
    flex: 1;
    text-align: center;
}

.links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.links ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: rgb(255, 118, 128);
    display: block;
    text-align: left;
    margin: auto;
    transition: 0.2s;
}

.links ul li:hover::after{
    width: 85%;
}

.head::after{
    color: #fff;
    transition: 0.2s;
}

.head:hover::after{
    color: rgb(255, 118, 128);
}
